.font{
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.5px;
    font-family: 'Helvetica Neue';
    margin-top: 5px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    list-style: none;
    padding: 10px 10px;
    margin: 24px 24px;
    border-radius: 10px;
    background: white;
    border: 2px solid rgba(var(--card-border-rgb), 1);
    box-shadow: 5px 8px #e7e7e7;
}

.detail {
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: lightgrey;
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
    margin-bottom: 20px;
    margin-top: 10px;
    position: relative;
}

.button {
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #815bfe;
    border: 2px solid;
    border-radius: 25px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
}
.activity:hover {
    cursor: pointer;
}
.selected {
    background: #815bfe;
    color: white;
    border: none;
}
.activity {
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    transition: background 200ms, border 200ms;
}
.date {
    margin-top: 5px;
}
.title {
    font-size: 22px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.3px;
    margin-bottom: 10px;
}
.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.selectBox {
    /* Reset */
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 20em;
    height: 3em;
    padding: 0 4em 0 1em;
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
    no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);
    color: white;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    }
/* <option> colors */
.optionBox {
    color: inherit;
    background-color: #320a28;
}
/* <option> hover */
.optionBox:hover {
    background-color: #320a28;
}

